.ls-1 {
  letter-spacing: 1rem;
}

.lh-1d8 {
  line-height: 1.8;
}

@include media-breakpoint-up(3xl) {
  .ls-3xl-1 {
    letter-spacing: 1rem;
  }
}

.object-cover-center {
  object-fit: cover;
  object-position: center;
}

.fs-0 {
  font-size: 0;
}

.br-20px {
  border-radius: 20px;
}

.br-2rem {
  border-radius: 2rem;
}

.min-width-100 {
  min-width: 100%;
}

.min-width-300px {
  min-width: 300px;
}

.min-width-500px {
  min-width: 500px;
}

$shadow-blue: #0d3473;
$shadow-yellow: #ed4b4b33;

.box-shadow {
  box-shadow: 2px 4px 8px rgb(0 0 0 / 35%) !important;
}

.text-shadow-blue {
  text-shadow: 2px 2px $shadow-blue;
  @include media-breakpoint-up(md) {
    text-shadow: 4px 4px $shadow-blue;
  }
}

.box-shadow-blue {
  box-shadow: 2px 2px $shadow-blue;
  @include media-breakpoint-up(md) {
    box-shadow: 4px 4px $shadow-blue;
  }
}

.text-shadow-yellow {
  text-shadow: 2px 2px $shadow-yellow;
  @include media-breakpoint-up(md) {
    text-shadow: 4px 4px $shadow-yellow;
  }
}

.box-shadow-yellow {
  box-shadow: 2px 2px $shadow-yellow;
  @include media-breakpoint-up(md) {
    box-shadow: 4px 4px $shadow-yellow;
  }
}

@keyframes shake {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.animate {
  &-shake {
    animation: shake 2s ease-in-out infinite;
  }
}

.hover {
  --dur: 0.2s;
  --timing: ease-out;
  &-smaller {
    transition: var(--dur) var(--timing) !important;
    &:hover {
      @include media-breakpoint-up(lg) {
        transform: scale(0.95) !important;
      }
    }
  }
  &-text-secondary {
    transition: var(--dur) var(--timing);
    &:hover {
      @include media-breakpoint-up(lg) {
        color: $secondary !important;
      }
    }
  }
  &-text-red {
    transition: var(--dur) var(--timing);
    &:hover {
      @include media-breakpoint-up(lg) {
        color: $red !important;
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

ul {
  cursor: pointer;
}

.form-control[readonly] {
  background: white;
}

.form-control[disabled] {
  background: #e9ecef;
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  @include media-breakpoint-up(md) {
    padding-top: 2.7rem;
    padding-bottom: 1.2rem;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 2.7rem;
    padding-bottom: 1.2rem;
  }
}

.line__box {
  .form-floating > .form-control,
  .form-floating > .form-select {
    @include media-breakpoint-up(md) {
      height: calc(3.5rem + 10px);
    }
    @include media-breakpoint-up(xl) {
      height: calc(3.5rem + 10px);
    }
  }
}
